.employee-container{
  background: url('https://raw.githubusercontent.com/MinDesigns/MinDesigns-Wallpapers/master/Wallpapers/5Shapes/Triangles.png')
   no-repeat center center fixed;
  background-size: cover;


  &:before{
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 0;
    background-color: @indigoTwoHundred;
    mix-blend-mode: color;
  }

  select{
    display: block;
  }
  .card{
    .card-title{
      margin: 0;
      padding-top: 2%;
    }
  }

  .input-field label {
    color: @primaryText;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: @primaryColor;
  }

  .input-field input[type=date]:focus + label {
    color: @primaryColor;
  }

  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid @primaryColor;
    box-shadow: 0 1px 0 0 @primaryColor;
  }

  /* label underline focus color */
  .input-field input[type=date]:focus {
    border-bottom: 1px solid @primaryColor;
    box-shadow: 0 1px 0 0 @primaryColor;
  }


  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid @primaryDark;
    box-shadow: 0 1px 0 0 @primaryDark;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid @error;
    box-shadow: 0 1px 0 0 @error;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: @primaryColor;
  }

  .dropdown-content li>a, .dropdown-content li>span{
    color: @primaryColor;
  }

}
